* {
      box-sizing: border-box;
      font-family: 'Lato', sans-serif;
}

body {
	margin-top: 35px;
	margin-right: 65px;
	margin-bottom: 35px;
	margin-left: 65px;
	background: transparent;
}

img,
embed,
object {
	max-width: 100%;
}

a {
	text-decoration: none;
}

h1 {
    margin: 0px;
    letter-spacing: 1px;
    color: #2d3c49;
    font-weight: 100;
    text-align: right;
}

h2 {
	color: #2d3c49;
	margin: 10px;
}

h3,
a {
	color: #7d97ad;
}

h1,
h2,
h5 {
	text-transform: uppercase;
}

h5 {
	margin: 0;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.text-small {
    font-style: italic;
    font-size: smaller;
}

.main-image {
	min-width: 100%;
	padding-left: 50px;
	padding-right: 50px;
}

/*For <hr> tab keep down in very small divice*/
.clearfix-header:after {
      content: "";
      clear: both;
      display: table;
}

.left {
	float: left;
}

.right {
	float: right;
}

.tab {
	background-color: #7d97ad;
	height: 3px;
	margin-top: 4px;
}

/*The container of the images project will be responsive(flex)*/
.projects-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.project {
	margin-bottom: 30px;
	margin-right: 5px;
	width: auto;
}


.project img {
	width: auto;
	height: auto;
	box-shadow: 0 0 12px -4px rgba(0,0,0,0.75);
}

.project img:hover {
    filter: sepia(50%);
}

.panel {
	margin-top: 10px;
	margin-bottom: 10px;
}

.panel-footer {
    display: none;
}

.navigation {
   	list-style: none;
    display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	text-shadow: 0 0 26px rgba(0,0,0,0.75);
 }

 .navigation a {
  	display: block;
  	padding: 10px;
  	color: #2d3c49;
}

.navigation a:hover {
	color: #3a7999;
	box-shadow: inset 0 0 0 1px #7d97ad;
}

.arrow {
  	width: 40px;
  	height: 40px;
  	top: 50%;
  	margin: -20px 0 0 -20px;
  	-webkit-transform: rotate(45deg);
  	border-left: none;
  	border-top: none;
    border-right: 2px #7d97ad solid;
    border-bottom: 2px #7d97ad solid;
}

.arrow:before {
    content: "";
    width: 20px;
    height: 20px;
    top: 50%;
    margin: -10px 0 0 -10px;
    border-left: none;
    border-top: none;
    border-right: 1px #7d97ad solid;
    border-bottom: 1px #7d97ad solid;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: arrow;
}

.arrow,
.arrow:before {
	display: flex;
	margin: auto;
}

#feature-work {
	margin: 0;
	padding: 10px;
}

/*Animation of the arrow*/
@keyframes arrow {
  	0% {
  		opacity: 1;
  	}
  	100% {
  		opacity: 0;
  		transform: translate(-10px, -10px);
  	}
}

/*ipad screens*/
@media screen and (max-width: 800px) {
	body {
		margin-top: 20px;
		margin-right: 45px;
		margin-bottom: 20px;
		margin-left: 45px;
	}
	.main-image {
		padding-left: 15px;
		padding-right: 15px;
	}
    h1 {
        font-size: 23px;
    }
    h2 {
    	font-size: 20px;
    }
    h3 {
    	font-size: 18px;
    }
    h5 {
      	font-size: 12px;
    }
    .arrow {
  		width: 30px;
  		height: 30px;
  	}
  	.arrow:before {
  		width: 15px;
  		height: 15px;
  	}
}

/*Small screens*/
@media screen and (max-width: 500px) {
	body {
		margin-top: 10px;
		margin-right: 10px;
		margin-bottom: 10px;
		margin-left: 10px;
	}
	.project {
		margin-bottom: 20px;
	}
	.tab {
		height: 1px;
	}
    .main-image {
		padding-left: 0;
		padding-right: 0;
	}
	h1{
        font-size: 16px;
    }
    h2{
    	font-size: 15px;
    }
    h3{
        font-size: 14px;
    }
    h5{
      	font-size: 9px;
    }
    .navigation {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
    	padding: 0;
  	}
  	.arrow {
  		width: 20px;
  		height: 20px;
  	}
  	.arrow:before {
  		width: 10px;
  		height: 10px;
  	}
}