<!DOCTYPE html>
<html lang="en">
<head>
	<title>Solo Tu Gracia</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Portfolio projects">
	<meta name="keywords" content="solo tu gracia, calvinismo, arminianismo, TULIP, predestinacion, salvación">
	<meta name="author" content="Oisbel Simpson">
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet">
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<header>
		<div class="clearfix-header">
			<picture>
					<source media="(min-width: 1400px)" srcset="img/1400/udacity_logo.png">
  					<source media="(min-width: 500px)" srcset="img/medium/udacity_logo.png">
					<img src="img/500/udacity_logo.png" alt="Logo Udacity">
				</picture>
			<div class="right">
				<h1>Dios, que es rico en misericordia</h1>
				<h5 class="text-right">nos dio vida con Cristo (por gracia sois salvos) - Efesios 2</h5>
			</div>
		</div>

		<hr class="tab">

		<img class="main-image" src="img/main.png" alt="Apoligistas de la Gracia">

	</header>
	<!--Projects's container-->
	<section class="portfolio">
		<h3 id="feature-work">Videos</h3>
		<div class="projects-container">
			<div class="project text-center">
				<picture>
					<source media="(min-width: 1400px)" srcset="img/1400/Jesuscompro.jpg">
  					<source media="(min-width: 500px)" srcset="img/medium/Jesuscompro.jpg">
					<img src="img/500/Jesuscompro.jpg" alt="Neighborhood Map"
						title="¿De verdad Jesús compró nuestra salvación?">
				</picture>
				<h2>¿Jesús nos compró?</h2>
				<div>
					<a target="_blank" href="https://www.youtube.com/watch?v=Q9x95tiV8E4"
						title="¿De verdad Jesús compró nuestra salvación?">
						https://www.youtube.com/watch?v=Q9x95tiV8E4
					</a>
				</div>
			</div>
			<div class="project text-center">
				<picture>
					<source media="(min-width: 1400px)" srcset="img/1400/catalog.jpg">
  					<source media="(min-width: 500px)" srcset="img/medium/catalog.jpg">
					<img src="img/500/catalog.jpg" alt="Music Catalog"
						title="Web application written in python using the Python framework Flask">
				</picture>
				<h2>Music Catalog Website</h2>
				<div>
					<a target="_blank" href="https://github.com/oisbel/catalog-project.git"
						title="Web application written in python using the Python framework Flask">
						https://github.com/Music-Catalog
					</a>
				</div>
			</div>
			<div class="project text-center">
				<picture>
					<source media="(min-width: 1400px)" srcset="img/1400/movies.jpg">
  					<source media="(min-width: 500px)" srcset="img/medium/movies.jpg">
					<img src="img/500/movies.jpg" alt="Movies"
						title="A Movie Trailer static web page created using python">
				</picture>
				<h2>Movie Trailer Website</h2>
				<div>
					<a target="_blank" href="https://github.com/oisbel/ud036_StarterCode.git"
						title="A Movie Trailer static web page created using python">
						https://github.com/StarterCode
					</a>
				</div>
			</div>
			<div class="project text-center">
				<picture>
					<source media="(min-width: 1400px)" srcset="img/1400/portfolio.jpg">
					<source media="(min-width: 500px)" srcset="img/medium/portfolio.jpg">
					<img src="img/500/portfolio.jpg" alt="Portfolio"
						title="Example of a Responsive Web Design that look good on any divive, from desktop to mobile">
				</picture>
				<h2 class="text-center">Portfolio</h2>
				<div>
					<a target="_blank" href="https://github.com/oisbel/Portfolio.git"
						title="Example of a Responsive Web Design that look good on any divive, from desktop to mobile">
						https://github.com/Portfolio
					</a>
				</div>
			</div>
			<div class="project text-center">
				<picture>
					<source media="(min-width: 1400px)" srcset="img/1400/compiler.jpg">
					<source media="(min-width: 500px)" srcset="img/medium/compiler.jpg">
					<img src="img/500/compiler.jpg" alt="Compiler"
						title="Compiler for the programming language Tiger">
				</picture>
				<h2 class="text-center">Tiger Compiler</h2>
				<div>
					<a target="_blank" href="https://github.com/oisbel/TigerCompiler.git"
						title="Compiler for the programming language Tiger">
						https://github.com/TigerCompiler
					</a>
				</div>
			</div>
			<div class="project text-center">
				<picture>
					<source media="(min-width: 1400px)" srcset="img/1400/vitrola.jpg">
					<source media="(min-width: 500px)" srcset="img/medium/vitrola.jpg">
					<img src="img/500/vitrola.jpg" alt="Vitrola"
						title="A modernized antique record player developed .NET">
				</picture>
				<h2 class="text-center">Vitrola</h2>
				<div>
					<a target="_blank" href="https://github.com/oisbel/Vitrola.git"
						title="A modernized antique record player developed .NET">
						https://github.com/Vitrola
					</a>
				</div>
			</div>
			<div class="project text-center">
				<picture>
					<source media="(min-width: 1400px)" srcset="img/1400/lotto.jpg">
					<source media="(min-width: 500px)" srcset="img/medium/lotto.jpg">
					<img src="img/500/lotto.jpg" alt="Lotto"
						title="Tool for lottery games (to study the statistics of the behavior of the lottery)">
				</picture>
				<h2 class="text-center">Lotto</h2>
				<div>
					<a target="_blank" href="https://github.com/oisbel/Lotto.git"
						title="Tool for lottery games (to study the statistics of the behavior of the lottery)">
						https://github.com/Lotto
					</a>
				</div>
			</div>
			<div class="project text-center">
				<picture>
					<source media="(min-width: 1400px)" srcset="img/1400/graph.jpg">
					<source media="(min-width: 500px)" srcset="img/medium/graph.jpg">
					<img src="img/500/graph.jpg" alt="Bayesian Networks"
						title="Working with Bayesian networks using GraphSharp library (c#)">
				</picture>
				<h2>Bayesian Networks</h2>
				<div>
					<a target="_blank" href="download/Bayesian-Networks.rar"
						title="Working with Bayesian networks using GraphSharp library (c#)">
						download: Bayesian-Networks.rar
					</a>
				</div>
			</div>
		</div>
	</section>
	<!--/.Projects's container-->
	<footer>
  		<div class="panel">
                <div class="arrow"></div>
                <!-- panel-footer is the one of slide down and up when mouser over panel-->
                <div class="panel-footer">
  					<ul class="navigation text-center">
  						<li>
  							<a target="_blank"  href="https://www.youtube.com/channel/UCEdD3cf4EjqgNq65Kk2kKng/videos">
  								Youtube
  							</a>
  						</li>
  						<li>
  							<a target="_blank"  href="https://github.com/oisbel/">
  								Github
  							</a>
  						</li>
  						<li>
  							<a target="_blank"  href="download/Bachelor.jpeg">
  								Education
  							</a>
  						</li>
  						<li>
  							<a target="_blank"  href="download/Simpson.Resume.docx">
  								Resume
  							</a>
  						</li>
  					</ul>
  					<p class="text-center">
  						I recently graduated from Full Stack Web Developer at Udacity.
                		I'm a software engineer prepared for development software
                     	and algorithms in many programming languages.
                    </p>
                    <p class="text-center text-small">
                    	Oisbel Simpson<br>
                    	oisbelsimpv@gmail.com<br>
                    	(281)-662-2467<br>
                    	Nanodegree Plus: Full stack web developer (www.udacity.com)
                    </p>
                </div>
            </div>
	</footer>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="js/code.js"></script>
</body>
</html>